
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ledger
    username: postgres
    password: root
    hikari:
      transaction-isolation: TRANSACTION_SERIALIZABLE
  flyway:
    locations: classpath:db/psql,classpath:db/common
    placeholder-replacement: false
