##############################################
# Spring boot properties
# http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html
#
# See README.md for available Spring Profiles
##############################################
spring:
  config:
    # Import user overrides
    import: optional:file:./config/
  output:
    ansi:
      enabled: always
  profiles:
    active: default
  #############################
  shell:
    command:
      stacktrace:
        enabled: true
      version:
        enabled: true
        showBuildName: true
        showGitBranch: true
    script:
      enabled: true
    interactive:
      enabled: true
    noninteractive:
      enabled: false
    history:
      name: .log/ledger.history
  #############################
  thymeleaf:
    cache: true
    mode: HTML
  #############################
  mvc:
    problemdetails:
      enabled: true
  #############################
  web:
    resources:
      cache:
        cachecontrol:
          max-age: 0
          no-cache: true
          no-store: true
  #############################
  flyway:
    enabled: true
    locations: classpath:db/crdb,classpath:db/common
    connect-retries: 15
    clean-on-validation-error: true
    baseline-on-migrate: true
    clean-disabled: false
  #############################
  jpa:
    open-in-view: false
    properties:
      hibernate:
        connection:
          provider_disables_autocommit: false
        jdbc:
          lob:
            non_contextual_creation: true
          batch_size: 128
          fetch_size: 128
          batch_versioned_data: true
        order_inserts: true
        order_updates: true
        hql:
          bulk_id_strategy: org.hibernate.hql.spi.id.inline.CteValuesListBulkIdStrategy
        cache:
          use_minimal_puts: true
          use_second_level_cache: false
  #############################
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:26257/ledger?sslmode=disable
    username: root
    password:
    name: Ledger
    hikari:
      maximum-pool-size: 256
      minimum-idle: 64
      initialization-fail-timeout: -1
      connection-timeout: 30000
      validation-timeout: 5000
      max-lifetime: 295000
      idle-timeout: 290000
      keepalive-time: 120000
      transaction-isolation: TRANSACTION_SERIALIZABLE
      pool-name: ledger-pool
      data-source-properties:
        reWriteBatchedInserts: true
        ApplicationName: Ledger
  # Enable JDK21 virtual threads
  threads:
    virtual:
      enabled: true
#############################
logging:
  pattern:
    console: "%clr(%d{${LOG_DATEFORMAT_PATTERN:HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:%-5p}) [%-11t] %clr([%-36logger{35}]){cyan} %m%n${LOG_EXCEPTION_CONVERSION_WORD:%wEx}"
    file: "%d{${LOG_DATEFORMAT_PATTERN:yyyy-MM-dd HH:mm:ss.SSS}} ${LOG_LEVEL_PATTERN:%5p} [%t] %logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:%wEx}"
  file:
    name: .log/ledger.log
  logback:
    rollingpolicy:
      max-history: 3
#############################
management:
  endpoints:
    web:
      exposure:
        include: caches,health,info,conditions,shutdown,env,flyway,heapdump,threaddump,metrics,scheduledtasks
#############################
server:
  port: 9090
  error:
    whitelabel:
      enabled: false
    path: /error
    include-exception: true
    include-message: always
    include-stacktrace: always
    include-binding-errors: always

