spring:
  datasource:
    url: jdbc:postgresql://localhost:26257/ledger?sslmode=disable
    username: root
    password:
    hikari:
      transaction-isolation: TRANSACTION_SERIALIZABLE
#      transaction-isolation: TRANSACTION_READ_COMMITTED

application:
  using-locks: false
  idempotency-check: false
  account-plan:
    accounts-per-city: 5_000
    initial-balance: 5000.00
  regions:
    - name: x-eu-central-1
      primary: true
      country: DEU
      currency: EUR
      cities:
        - name: berlin
        - name: hamburg
        - name: munich
        - name: frankfurt
        - name: dusseldorf
        - name: leipzig
        - name: dortmund
        - name: essen
        - name: stuttgart
        - name: zurich
          country: CHE
          currency: CHF
        - name: krakov
          country: POL
          currency: PLN
        - name: zagraeb
          country: HRV
          currency: EUR
        - name: zaragoza
          country: ESP
          currency: EUR
        - name: lodz
          country: POL
          currency: PLN
        - name: athens
          country: GRC
          currency: EUR
        - name: bratislava
          country: SVK
          currency: EUR
        - name: prague
          country: ZCE
          currency: CZK
        - name: sofia
          country: BGR
          currency: BGN
        - name: bucharest
          country: ROU
          currency: RON
        - name: vienna
          country: AUT
          currency: EUR
        - name: warsaw
          country: POL
          currency: PLN
        - name: budapest
          country: HUN
          currency: HUF
    - name: x-eu-south-1
      country: ITA
      currency: EUR
      cities:
        - name: rome
        - name: milan
        - name: naples
        - name: turin
        - name: valencia
        - name: palermo
        - name: madrid
          country: ESP
          currency: EUR
        - name: barcelona
          country: ESP
          currency: EUR
        - name: sintra
          country: ESP
          currency: EUR
        - name: lisbon
          country: PRT
          currency: PTE
    - name: x-eu-north-1
      cities:
        - name: stockholm
          country: SWE
          currency: SEK
        - name: copenhagen
          country: DNK
          currency: DKK
        - name: helsinki
          country: FIN
          currency: EUR
        - name: oslo
          country: NOR
          currency: NOK
        - name: riga
          country: LVA
          currency: EUR
        - name: tallinn
          country: EST
          currency: EUR
  region-mappings:
    eu-north-1: x-eu-north-1
    eu-central-1: x-eu-central-1
    eu-south-1: x-eu-south-1

#  visible-regions: x-eu-north-1,x-eu-central-1,x-eu-south-1
