<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Ledger</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>

<div th:replace="~{fragments/theme :: theme}"></div>

<header th:replace="~{fragments/header :: header}"></header>

<main>
    <svg th:replace="~{fragments/symbols :: symbols}"></svg>

    <div class="py-2 rounded bg-body-tertiary">
        <div class="container-xl">
            <h3>Account Details</h3>
            <form th:object="${form}">
                <div class="form-floating mb-3">
                    <input th:field="*{id}" class="form-control" id="floatingInputDisabled" disabled>
                    <label for="floatingInputDisabled">ID</label>
                </div>
                <div class="form-floating mb-3">
                    <input th:field="*{name}" class="form-control" id="floatingInputDisabled2"
                           disabled>
                    <label for="floatingInputDisabled2">Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input th:field="*{city}" class="form-control" id="floatingInputDisabled3"
                           disabled>
                    <label for="floatingInputDisabled3">City</label>
                </div>
                <div class="form-floating mb-3">
                    <input th:field="*{accountType}" class="form-control" id="floatingInputDisabled4"
                           disabled>
                    <label for="floatingInputDisabled4">Account Type</label>
                </div>
                <div class="form-floating mb-3">
                    <input th:field="*{balance}" class="form-control" id="floatingInputDisabled5"
                           disabled>
                    <label for="floatingInputDisabled5">Balance</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea th:field="*{description}" class="form-control" id="floatingInputDisabled6"
                              disabled></textarea>
                    <label for="floatingInputDisabled6">Description</label>
                </div>
                <div class="form-check form-switch">
                    <input th:field="*{closed}" class="form-check-input" type="checkbox" role="switch"
                           id="flexSwitchCheckDefault"
                           disabled>
                    <label class="form-check-label" for="flexSwitchCheckDefault">Closed</label>
                </div>
                <div class="form-check form-switch">
                    <input th:field="*{allowedNegative}" class="form-check-input" type="checkbox" role="switch"
                           id="flexSwitchCheckDefault2"
                           disabled>
                    <label class="form-check-label" for="flexSwitchCheckDefault2">Allow Negative Balance</label>
                </div>
            </form>

            <div class="table-responsive-xl">
                <table class="table table-striped table-bordered table-hover table-sm caption-top">
                    <caption th:text="${'Total transfers ' + transferPage.totalElements}"></caption>
                    <thead class="thead-light">
                    <tr>
                        <th>Id</th>
                        <th>City</th>
                        <th>Type</th>
                        <th>Transfer Date</th>
                        <th>Booking Date</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="transfer: ${transferPage.content}">
                        <td th:text="${transfer.id}"></td>
                        <td th:text="${transfer.city}"></td>
                        <td th:text="${transfer.transferType}"></td>
                        <td th:text="${{transfer.transferDate}}"></td>
                        <td th:text="${{transfer.bookingDate}}"></td>
                        <td class="text-center py-1">
                            <a class="btn btn-outline-success"
                               th:href="@{/transfer/{id}(id=${transfer.id})}">
                                Details <span class="badge text-bg-warning" th:text="${transferItems}">0</span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav th:if="${transferPage.totalPages > 0}"
                     th:replace="~{fragments/paging-banner :: paging-banner(${transferPage}, '')}">
                </nav>
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.13/jquery-ui.js"></script>
<script src="https://code.jquery.com/color/jquery.color-2.2.0.js"></script>

<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
<script src="/webjars/sockjs-client/1.5.1/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.4/stomp.min.js"></script>

<script th:src="@{/js/color-modes.js}"></script>
<script th:src="@{/js/main.js}"></script>

</body>
</html>
